body {
	background-image: url("../img/fondo.png");
	display: flex;
	flex-direction: column; /* Apila los hijos (header, main, footer) verticalmente */
	height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
	margin: 0px;
}

header {
	margin: 0px 10px;
	min-height: 80px;
}

main {
	/* CLAVE: Hace que MAIN ocupe todo el espacio sobrante, empujando el footer hacia abajo. */
	flex-grow: 1; 
	overflow-x: hidden;
	overflow-y: auto;
	background-color: lightblue;
	margin: 10px;
	border:2px solid lightblue ;
	border-radius: 10px;
	color: midnightblue;
}

footer {
	margin: 0px 10px;
	min-height: 90px;
	display: flex;
	justify-content: space-around; 
	color: white;
	font-family: cursive;
	flex-wrap: wrap; 
}

.index main {
	height: auto;
}

.cabecera {
	display: flex;
	align-items: center;
	font-family: cursive;
}

.logo {
	margin: 15px;
	height: 40px;
}

.title {
	color: plum;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	flex-grow: 1; /* Permite que el título ocupe el espacio disponible */
}

.menu {
	min-width: 280px;
	margin-right: 20px;
	height: 15px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: baseline;	
	gap: 10px; 
}

.hamburger {
    display: none;
    font-size: 25px;
    color: white;
    margin-right: 10px;
}

a {
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

.menu a {
	color: white;
}

.red {
	margin: 5px;
	margin-left: auto;
	height: 30px;
}

.address {
	margin: 5px;
	margin-right:auto ;
	color: white;
}

.addressTitle {
	font-weight: bold;
	margin-bottom: 5px;
	color: white;
}
.enlaces {
	margin: 5px;	
	text-align: right;
}

.politica {
	margin-bottom: 5px;
}

.mail {
	margin-top: 5px;
}

.opinions {
	margin-top: 30px;
}

.opinion {
	margin-left: 20px;
	font-style: italic;
	color: black;
}

.enllaç {
	margin-left: 10%;
	margin-bottom: 30px;
	font-size: 30px;
	font-family: cursive;
	font-weight:bold;
}

.enllaç a {
	color: midnightblue;
	white-space: wrap;
}

.formulari {
	margin-left: 20%;
	margin-right: 20%;
}

.formulari h1{
	font-size: 40px;
	font-family: cursive;
}

.formulari form {
	background-color: steelblue;
	border: 2px solid steelblue;
	border-radius: 8px;
	color: white;
	padding: 40px;
	min-width: 300px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 18px;
}

.campo {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
}

.valors {
	flex-wrap: wrap;
}

.campo .etiqueta {
	margin-right: 15px;
	font-weight: bold;
	vertical-align: middle;
}

.campo .valor {
	color: black;
}

.campo input {
	margin-right: 15px;
}

.botones {
	height: 15px;
	margin-top: 40px;
}

.botones input{
	margin-right: 10px;
	background-color: skyblue;
	border: skyblue;
	border-radius: 2px;
	padding: 10px;
}

input[type="text"], input[type="email"]{
	width: 250px;
}

.politica-text {
	background-color: steelblue;
	border: 2px solid steelblue;
	border-radius: 8px;
	color: white;
	padding: 40px;
	min-width: 300px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.politica-text p {
	color: black;
}

.joc-titol {
	font-size: 40px;
	font-family: cursive;
	margin-left: 10%;
}

.joc-targeta {
	background-color: steelblue;
	border: 2px solid steelblue;
	border-radius: 8px;
	color: white;
	padding: 10px;
	min-width: 400px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 20px;
	min-height: 330px;
	display: flex;
	flex-direction: row;
}

.joc-targeta img {
	height: 300px;
	margin: 15px;
}

.joc-targeta .text {
	color: black;
}

@media (max-width: 768px) {
	header {
		min-height: 50px;
	}

	footer {
		font-size: 14px;
	}
	
	.menu {
		display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 25%;
        width: 50%;
        background-color: skyblue;
        text-align: center;
        padding: 10px 0;
        z-index: 1000;
        height: auto;
	}

    .menu a {
    	color: black;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        padding: 15px;
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        width: 100%;
        box-sizing: border-box;
    }

    .hamburger {
        display: block;
    }

	.logo {
		height: 30px;
	}
	
	.title {
		font-size: 30px;
		flex-grow: 1; /* Permite que el título ocupe el espacio disponible */
	}

	.joc-titol {
		font-size: 25px;
		margin-left: 10px;
	}

	.joc-targeta {
		min-width: 300px;
		margin-left: 10px;
		margin-right: 10px;
		flex-wrap: wrap;
	}

	.enllaç {
		margin-left: 10px;
		margin-bottom: 20px;
		font-size: 20px;
	}
	
	.politica-text {
		padding: 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.formulari {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.formulari form {
		padding: 40px;
		min-width: 200px;
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 18px;
	}
}

